<h3>Add Details</h3>

<%= render 'form'%>

<div id ="editform"></div>

<script>
         $(document).ready(function() {
            if (jQuery){
               console.log( "ready!" );}
         })
   </script>